node_modules/
 Disabled/
*.tmp

# Not ready for publishing
extensions/global/pure-statusline/
extensions/global/pure-vibes/

# Local test extensions
.pi/extensions/
extensions/global/pure-github/
.pi/npm/
